"*":
  Hydrogen: {}
  "activate-power-mode":
    particles:
      colours:
        type: "random"
    screenShake:
      enabled: false
  "atom-beautify":
    general:
      analytics: false
  "atom-ctags":
    GotoSymbolKey: [
      "meta"
    ]
    autoBuildTagsWhenActive: true
  "atom-fuzzy-grep":
    detectGitProjectAndUseGitGrep: false
  "atom-pair": {}
  "autocomplete-plus":
    confirmCompletion: "enter"
  "autocomplete-python": {}
  core:
    audioBeep: false
    disabledPackages: [
      "symbol-gen"
      "symbols-view"
      "spell-check"
      "language-python"
      "linter-pep8"
    ]
    ignoredNames: [
      "*.pyc"
      "*.pkl"
      "*.png"
      "*.jpg"
      "*.npy"
      "*.so"
      "*.o"
      "__pycache__"
    ]
    packagesWithKeymapsDisabled: [
      "highlight-line"
      "atom-ctags"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    backUpBeforeSaving: true
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
  "exception-reporting":
    userId: "bcc1ef50-e84d-20ec-ed51-27dc89d2af33"
  "fuzzy-finder": {}
  "git-diff": {}
  "git-plus":
    general:
      _analyticsUserId: "84db1359-36fa-4d98-8d2b-234c4433a602"
  "highlight-selected": {}
  linter:
    errorPanelHeight: 26
    gutterPosition: "Left"
    lintOnFly: false
    showErrorTabFile: false
    showErrorTabProject: false
  "linter-flake8":
    executablePath: "/usr/local/bin/flake8"
    ignoreErrorCodes: [
      "E702"
    ]
  "linter-pep8":
    ignoreErrorCodes: [
      "E702"
    ]
  "markdown-preview":
    breakOnSingleNewline: true
  "merge-conflicts": {}
  minimap: {}
  "one-dark-ui": {}
  "project-manager": {}
  "remote-atom":
    keep_alive: true
    launch_at_startup: true
  "spell-check": {}
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  tabs: {}
  tasks: {}
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  "vim-mode":
    useClipboardAsDefaultRegister: true
  "vim-mode-plus":
    clearHighlightSearchOnResetNormalMode: true
    flashOnSearch: false
    highlightSearch: true
    ignoreCaseForSearch: true
    incrementalSearch: true
    stayOnTransformString: true
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  "vim-surround": {}
  welcome:
    showOnStartup: false
  whitespace: {}
  zentabs:
    maximumOpenedTabs: 7
    neverCloseUnsaved: true
".aliases.elasticsearch.source":
  editor:
    tabLength: 4
".babel.regexp.source":
  editor:
    tabLength: 4
".css.source.styled":
  editor:
    tabLength: 4
".diff":
  editor:
    tabLength: 4
".diff.source":
  editor:
    tabLength: 4
".elasticsearch.mapping.source":
  editor:
    tabLength: 4
".elasticsearch.query-dsl.source":
  editor:
    tabLength: 4
".elasticsearch.snapshot.source":
  editor:
    tabLength: 4
".js.jsx.source":
  editor:
    tabLength: 4
".languagebabel.ttlextension":
  editor:
    tabLength: 4
".python.regexp.source":
  editor:
    tabLength: 4
".python.source":
  editor:
    tabLength: 4
