"*":
  "exception-reporting":
    userId: "bcc1ef50-e84d-20ec-ed51-27dc89d2af33"
  welcome:
    showOnStartup: false
  "vim-mode":
    useClipboardAsDefaultRegister: true
  core:
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
    audioBeep: false
    disabledPackages: [
      "symbol-gen"
      "symbols-view"
      "language-python"
      "spell-check"
    ]
    ignoredNames: [
      "*.pyc"
      "*.pkl"
      "*.png"
      "*.jpg"
      "*.npy"
      "*.so"
      "*.o"
      "__pycache__"
      "*.ipynb"
      ".imdone"
    ]
    packagesWithKeymapsDisabled: [
      "highlight-line"
    ]
  editor:
    invisibles: {}
    tabLength: 4
    showIndentGuide: true
    scrollPastEnd: true
    showInvisibles: true
    backUpBeforeSaving: true
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  "autocomplete-plus":
    confirmCompletion: "enter"
  "vim-surround": {}
  "git-diff": {}
  "one-dark-ui": {}
  "project-manager": {}
  Hydrogen: {}
  "markdown-preview":
    breakOnSingleNewline: true
  tabs: {}
  "merge-conflicts": {}
  "atom-pair": {}
  zentabs:
    neverCloseUnsaved: true
  "atom-ctags":
    autoBuildTagsWhenActive: true
  "highlight-selected": {}
  minimap: {}
  "spell-check": {}
  "autocomplete-python": {}
  tasks: {}
  "fuzzy-finder": {}
