'atom-text-editor:not(mini).autocomplete-active':
  'tab': 'core:move-down'
  'shift-tab': 'core:move-up'
  'enter': 'autocomplete-plus:confirm'
  'up': 'unset!'
  'down': 'unset!'

'.platform-linux atom-text-editor':
  'ctrl-shift-L': 'editor:split-selections-into-lines'

'atom-workspace':
  'ctrl-alt-p': 'fuzzy-grep:toggle'
  'alt-z': 'atom-ctags:return-from-declaration'

'atom-workspace atom-text-editor:not([mini])':
    'ctrl-[': 'unset!'

'atom-workspace:not(.editor)':
  'cmd-enter': 'editor:newline-below'

'body':
  'f12': 'tabs-to-spaces:untabify'

# not insert
'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  'ctrl-d': 'find-and-replace:select-next'
  'ctrl-f': 'unset!'
  'cmd-enter': 'unset!'
  ':': 'ex-mode:open'

# normal
'atom-text-editor.vim-mode-plus.normal-mode':
  'd s': 'vim-mode-plus:delete-surround'
  'c s': 'vim-mode-plus:change-surround'
  'ctrl-d': 'find-and-replace:select-next'

# insert
'atom-text-editor.vim-mode-plus.insert-mode':
  'ctrl-r': 'core:paste'

# visual
'atom-text-editor.vim-mode-plus.visual-mode':
  's': 'vim-mode-plus:surround'
  '_': 'vim-mode-plus:replace-with-register'
  # do not unselect after useing brackets to in/outdent
  '>': 'editor:indent-selected-rows'
  '<': 'editor:outdent-selected-rows'
